p, span {
    font-family: 'ralewaylight';
    color: white;
}

h1, h2, h3, h4, .site-title {
    font-family: 'montserratbold';
    color: white;
}

.site-title {
    line-height: 1.4;
    font-size: 36px;
}

.entry-content {
    width: 800px;
    margin: 20px auto;
    padding:20px;
    background-color: #222;
    border-radius: 10px;
}

.post {
    width: 760px;
    margin: 0 auto;
}

.post .entry-content {
    margin-right: -20px;
    margin-left: -20px;
}

.post .entry-header {
text-align: center;
}

.grid-card {
    width: calc(100% - 20px);
    aspect-ratio: 1;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
}

.post .category-card {
    width: 75px;
    height: 75px;
    margin-right: 5px;
    margin-bottom: 5px;
    aspect-ratio: 1;
    font-size: 10pt;
}

.category-card,
.post-card {
    border-radius: 10px;
    border-width: 10px;
    border-style: solid;
    color: white;
    background-color: var(--category-color);
    border-color: var(--category-color);
}

.category-label {
    background-color: var(--category-color);
    border-color: var(--category-color);
    color: white;
}

a:hover .category-card,
a:hover .post-card {
    background-color: color-mix(in srgb, var(--category-color) 80%, black);
    border-color: color-mix(in srgb, var(--category-color) 80%, black);
}

.post-card {
    background-size: cover !important;
    background-position: 50% 50% !important;
}

.post-card h4,
.category-card h3,
.post .category-card p {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5em;
}

.post-card h4 {
    visibility: hidden;
    font-size: medium;
}

a:hover .post-card h4{
    background-color: rgba(0,0,0,0.5);
    visibility: visible;
}

body, .site-header{
    background-color: #333333;
    color: white;
}

a {
    color: #55B5C2;
}
a:visited {
    color: #317D87;
}
a:hover {
    color: #65E342;
}

h1 a, h1 a:visited, h1 a:hover,
h2 a, h2 a:visited, h2 a:hover,
h3 a, h3 a:visited, h3 a:hover,
h4 a, h4 a:visited, h4 a:hover,
.site-title a, .site-title a:visited, .site-title a:hover{
    color: white;
}

p a:hover {
    text-decoration: underline dashed;
    text-underline: white;
}

.site-branding h1,
.site-branding .menu {
    justify-content: center;
    text-align: center;
}

.site-header {
    position: fixed;
    height: 75px;
    top:0;
    width: 100%;
    z-index: 100;
}

#page {
    margin-top:75px;
}
footer p {
    text-align: center;
}


.is-dropdown-submenu-parent a::after {
    position: relative;
    margin: 0 auto;
}

.dropdown.menu.vertical > li > a::after {
    border-width: 6px 6px 0 6px !important;
    border-color:#55B5C2 transparent #55B5C2 transparent !important;
    right:0;
}

.menu.submenu.first-sub {
    top:15px;
    position: relative;
    margin: 0 auto;
    width: 200px;
    left: 0 !important;
    right: 0 !important;
}

.is-submenu-item {
    background: #444;
}
